
<header class="row welcome-row">
	<div class="coffee-span-12">
		<h4 class="welcome-subtitle">Need something new to watch?</h4>
		<h1 class="welcome-title">AskMrOtaku</h1>
		<h4 class="welcome-subtitle">The anime expert that will help you
			to decide!</h4>
	</div>
</header>
<div class="row row-1">
	<div class="coffee-span-12 ignition">
		<div class="container centered-container">
			<p class="paragraph intro-paragraph">AskMrOtaku is a recommender
				system that will recommend you some series based on your
				preferences.</p>
			<p class="paragraph intro-paragraph">To get your recommended
				series you just need to rate at least one anime using the icons.</p>
			<p class="paragraph intro-paragraph">
				<md-icon style="font-size:30px;height:30px;width:15px;">sentiment_very_dissatisfied</md-icon>
				&emsp;Bad&emsp;
				<md-icon style="font-size:30px;height:30px;width:15px;">sentiment_neutral</md-icon>
				&emsp;Neutral&emsp;
				<md-icon style="font-size:30px;height:30px;width:15px;">sentiment_very_satisfied</md-icon>
				&emsp;Good
			</p>
			<p class="paragraph intro-paragraph2">The recommendations are
				given using three models:</p>
			<p class="paragraph intro-paragraph2">
				<b>-User Based:</b> series that people similar to you like
			</p>
			<p class="paragraph intro-paragraph2">
				<b>-Cluster 1:</b> series with the genres (and other things) that
				you like
			</p>
			<p class="paragraph intro-paragraph2">
				<b>-Cluster 2:</b> series with the main staff that you like
			</p>

			<p class="paragraph intro-paragraph">Find what show is waiting
				for you!</p>
			<a md-raised-button class="link-button flat-button"
				(click)="goToRate()">Start to Rate!</a>
		</div>
	</div>
</div>


